.navbar {
    display: flex;
    align-items: center;
}

.header-btn {
    position: relative; /* Necesario para posicionar el tooltip correctamente */
    display: inline-block; /* Asegura que se ajuste al contenido */
}

.header-btn i {
    vertical-align: middle;
    font-size: 1.2rem; /* ajusta según tu diseño */
    line-height: 1;
}

.header-btn .tooltip {
    position: absolute;
    bottom: -35px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #333;
    color: white;
    padding: 5px 10px;
    border-radius: 4px;
    font-size: 12px;
    white-space: nowrap;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;
    pointer-events: none;
    z-index: 100;
}

.header-btn .tooltip::before {
    content: '';
    position: absolute;
    top: -5px;
    left: 50%;
    transform: translateX(-50%);
    border-width: 0 5px 5px 5px;
    border-style: solid;
    border-color: transparent transparent #333 transparent;
}

.header-btn:hover .tooltip {
    opacity: 1;
    visibility: visible;
    bottom: -40px;
}

.icon-hover-nav {
    color: #000000;
    transition: transform 0.4s ease-in-out, color 0.3s ease-in-out;
}
.icon-hover {
    color: #F5C02E;
    transition: transform 0.4s ease-in-out, color 0.3s ease-in-out;
}

.icon-hover-nav:hover {
    color: #F5C02E;
    transform: scale(1.2);
}

.icon-hover:hover {
    color: #4b4b4b;
    transform: scale(1.2);
}

.btn-hover:hover {
    background-color: #0a95c9;
    border-color: #0a95c9;
    color: #fff;
    transition: all 0.3s ease;
}

table.no-vertical-borders td,
table.no-vertical-borders th {
    border-left: none;
    border-right: none;
}

#preview-2 {
    display: flex;
    flex-wrap: wrap;          /* Permite que bajen de línea si hay muchas */
    gap: 10px;                /* Espaciado entre imágenes */
    justify-content: flex-start;
    align-items: center;
}

#preview-2 img {
    width: 100px;             /* Tamaño fijo para todas */
    height: 100px;
    object-fit: cover;        /* Recorta sin deformar */
    border-radius: 10px;      /* Bordes suaves */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s ease-in-out;
}

#preview-2 img:hover {
    transform: scale(1.05);   /* Pequeño zoom al pasar el mouse */
}

#loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.85);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 2000;
}

#loading-overlay .spinner-border {
  width: 4rem;
  height: 4rem;
}
